/.Rproj.user
/notes/rsconnect
/notes/images2
/practicals/exercise 3_files
/notes/_dynamic_documents_slides_files
/data/synthetic_dataset_generation_files
/practicals/exercise 3_correction_files
/practicals/exercise-3_correction_files
/practicals/exercise-3_files
/practicals/rsconnect
practicals/exercise 3_correction.docx
practicals/exercise 3-correction.qmd
/.quarto/
/images
/index_cache
/index_files
/notes/create_first_quarto_doc_cache
/notes/index_cache
/notes/python_r_short_demo_cache
/notes/quarto_intro_cache
/practicals/exercise-2_cache
/site_libs
/notes/dynamic_documents_files
/notes/images
/notes/index_files
/notes/quarto_intro_files
/notes/exercise2_instructions_cache
/correction/exercise 3_correction_files
/correction/exercise-3_correction_cache
/correction/exercise3_step_by_step_correction_cache
/correction/exercise-3_correction_files
/practicals/_exercise3_files
/docs/correction/images
/practicals/exercise2_gettingstarted_cache
/practicals/exercise2_instructions_cache
/docs/correction/exercise-3_correction_files
/docs/correction/exercise3_step_by_step_correction_files
