
/.Rproj.user
/notes/rsconnect
/notes/images2
*.html
/practicals/exercise 3_files
/notes/_dynamic_documents_slides_files
/data/synthetic_dataset_generation_files
/practicals/exercise 3_correction_files
/practicals/exercise-3_correction_files
/practicals/exercise-3_files
/practicals/rsconnect
*.pdf
practicals/exercise 3_correction.docx
practicals/exercise 3-correction.qmd
